﻿@page "/"
<div class="contentBlock">
    <h1 class="primaryColor">
        So many days left
        @if (DaysLeft() > 0)
        {
            <span>!</span>
        }
        else
        {
            <span>?</span>
        }
    </h1>

    <label id="NumberOfYearsLeftLabel" for="NumberOfYearsLeft" class="secondaryColor">
        Considering you are currently
        <input id="CurrentAgeInYears" @bind="CurrentAgeInYears" @bind:event="oninput"
               onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';"
               onkeydown="this.style.width = ((this.value.length + 1) * 8) + 'px';"
               onkeyup="this.style.width = ((this.value.length + 1) * 8) + 'px';"
               onchange="this.style.width = ((this.value.length + 1) * 8) + 'px';"/>
        years old, with a life expectancy of
        <input id="CurrentAgeInYears" @bind="LifeExpectancyInYears" @bind:event="oninput"
               onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';"
               onkeydown="this.style.width = ((this.value.length + 1) * 8) + 'px';"
               onkeyup="this.style.width = ((this.value.length + 1) * 8) + 'px';"
               onchange="this.style.width = ((this.value.length + 1) * 8) + 'px';"/>
        years you can expect to live an other @NumberOfYearsLeft years
        <br/>
        @if (LifeExpectancyInYears != 80)
        {
            <span>
                (note: life expectancy in first world countries is about 80 years old.
            </span>
        }
    </label>
</div>
<div class="contentBlock">
    @if (DaysLeft() > 0)
    {
        <div id="numberOfDaysLeftSentence" class="primaryColor">
            Which means you have @DaysLeft() days left.
        </div>
        <div id="poetryBlock" class="secondaryColor">

            You only have a whole life ahead of you<br/>
            No matter how long or short it may seem<br/>
            How much will have been done is up to you<br/>
            Why not learn to play the <a href="https://youtu.be/ajM4vYCZMZk?t=81">theremin</a> ?
        </div>
    }
</div>

@code {

    public int NumberOfYearsLeft { get; set; }

    public int LifeExpectancyInYears
    {
        get => _lifeExpectancyInYears;
        set
        {
            _lifeExpectancyInYears = value;
            NumberOfYearsLeft = value - CurrentAgeInYears;
        }
    }

    public int CurrentAgeInYears
    {
        get => _currentAgeInYears;
        set
        {
            _currentAgeInYears = value;
            NumberOfYearsLeft = LifeExpectancyInYears - value;
        }
    }

    public int DaysLeft()
    {
        return NumberOfYearsLeft * 365;
    }

    private int _lifeExpectancyInYears = 80;
    private int _currentAgeInYears = 0;
}