body, html {
    overflow: hidden;
    background-color: #8ef1f3;
    font-family: CustomeCursive, cursive;
}

.primaryColor {
    color: #043f5e;
}

.secondaryColor {
    color: #043f5e
}

h1 {
    font-size: 2.1em;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px dotted;
    width: 16px;
    text-align: center;
}

.contentBlock {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#NumberOfYearsLeftLabel {
    display: block;
}

#numberOfDaysLeftSentence {
    font-size: 1.75em;
}

#poetryBlock {
    font-size: 1.3em;
}

@font-face {
    font-family: CustomeCursive;
    src: url("Lato-Black.ttf");
}
